<div class='row well well-small'>
	<div class='col-md-9 pull-left'>
		<div class='col-md-6'>
			<div class='input-group'>
				<span class='input-group-btn'>
					<button popover-placement='bottom' class='btn btn-info'>
						<i class='icon-search'></i>
					</button>
				</span>
				<input type="text" class='form-control' ng-model="searchValue">
			</div>
		</div>
	</div>
	<div class='col-md-3 pull-right'>
		<div class='col-sm-3 col-md-3'>
			<button ng-click='refreshButtonPressed()' class='btn btn-primary pull-right'>
				<i class='icon-refresh icon-large'></i>
			</button>
		</div>
		<div class='col-sm-3 col-md-3'>
			<button ng-click='addButtonPressed()' class='btn btn-success pull-right'>
				<i class='icon-plus icon-large'></i>
			</button>
		</div>
		<div class='col-sm-3 col-md-3'>
			<button ng-click="removeButtonPressed()" class='btn btn-danger pull-right'>
				<i class='icon-remove icon-large'></i>
			</button>		
		</div>
	</div>
</div>
